.navbar {
  display: flex;
  align-items: center;
  box-shadow: 0 0.25em 1em -0.25em hsla(220, 20%, 70%, 0.75);
  a {
    padding: 1em;
    &:first-child {
      margin-right: auto;
    }
  }
  button {
    border: 0;
  }
  img {
    width: 2em;
    border-radius: 50%;
    height: 2em;
  }
}

.logo {
  letter-spacing: 1px;
  span {
    margin-right: 0.25em;
  }
}
